/* Widen the fixed sidebar */
.bs-sidebar.affix,
.bs-sidebar.affix-bottom {
    width: 213px;
}
.bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
}
.bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
}
.bs-sidebar.affix-bottom .bs-sidenav,
.bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
}