#sign_form {
    background: #f1f1f1;padding: 25px;
}
#sign_form .error {
    float: right;
    color: red;
}
#app_info {
    display: none;
}
@media(min-width: 768px){
    #app_info {
        display: block;
        float: left;
        padding-right: 390px;
    }
    #sign_form {
        width: 366px;
        margin-left: -366px;
        float:right;
    }
}